<h1>Clients List</h1>

<ul class="list-group">
    <li class="list-group-item disabled">
        Cras justo odio 
        <button type="button" class="btn btn-warning">+ New Order</button>
        <button type="button" class="btn btn-primary">Look Orders</button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-info">Edit Client</button>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>