/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
html {
    height: 100%;
    box-sizing: border-box;
    
}
*,
*:after,
*::before {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEDF3;
   
    
}